/*
Theme Name: Lavista Custom Theme
Theme URI: https://www.lavista.com.au/
Author: MyNext Pty Ltd
Author URI: https://www.mynext.com.au/
Description: Custom theme for LaVista website
Version: 1.64
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: custom
*/


body {
  height: 100%;
  margin: 0;
  padding-top: 91px;
  color: #777777;
}

h1,
h2,
h3,
h6 {
  color: #025f6b;
  margin-bottom: 30px;
}

a {
  color: #025f6b;
}

.awards {
  text-align: center;
}

.awards img {
  max-width: 60%;
}

.navbar .btn-primary {
  background-color: #343838;
  border-color: #343838;
}

.fixed-top {
  min-height: 90px;
  background-color: #FFFFFF;
  -moz-box-shadow: 0 0 5px 5px rgba(68, 68, 68, 0.6);
  -webkit-box-shadow: 0 0 5px 5px rgba(68, 68, 68, 0.6);
  box-shadow: 0 0 5px 5px rgba(68, 68, 68, 0.6);
}

.nav-item {
  margin-left: 25px;
}

.nav-item:last-child {
  margin-left: 50px;
}

.navbar .btn {
  padding: 0 .75rem !important;
}

.nav-item:last-child .nav-link {
  color: #ffffff !important;
}

.nav-link {
  text-transform: uppercase;
  color: #17b5cc !important;
  font-weight: 600;
}

.active>.nav-link {
  color: #025f6b !important;
}

.hero-image {
  min-height: 450px;
  background-size: cover;
  text-align: center;
  background-repeat: no-repeat;
  background-position: top center;
}

.hero-image h1 {
  color: #025f6b;
  -moz-text-shadow: 1px 1px 2px rgba(68, 68, 68, 0.6);
  -webkit-text-shadow: 1px 1px 2px rgba(68, 68, 68, 0.6);
  text-shadow: 1px 1px 2px rgba(68, 68, 68, 0.6);
  padding-top: 80px;
  padding-bottom: 40px;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.hero-image h3 {
  color: #025f6b;
  -moz-text-shadow: 1px 1px 2px rgba(68, 68, 68, 0.6);
  -webkit-text-shadow: 1px 1px 2px rgba(68, 68, 68, 0.6);
  text-shadow: 1px 1px 2px rgba(68, 68, 68, 0.6);
  line-height: 1.9em;
}

.cta-banner {
  background-color: #025f6b;
  padding: 25px 0 20px;
}

.cta-banner h4 {
  color: #ffffff;
  line-height: 1.9em;
}

.about-text {
  margin-top: 30px;
}

.btn-primary {
  color: #ffffff;
  background-color: #025f6b;
  border-color: #025f6b;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open>.dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #025f6b;
  border-color: #025f6b;
}

.solutions-package {
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: .25rem;
  text-align: center;
  min-height: 300px;
  margin-bottom: 60px;
  background: #025f6b;
}

.solutions-package h4 {
  color: #ffffff;
  margin: 25px auto 5px;
}

.solutions-package .solution-text {
  padding: 20px;
  min-height: 130px;
  color: #ffffff;
}

.awards {
  margin-top: 30px;
  margin-bottom: 50px;
}

.clients {
  margin-bottom: 80px;
}

#contact {
  background-color: #282828;
  color: #ffffff;
  padding: 20px 0 40px;
}

#contact input,
#contact textarea {
  margin-bottom: 10px;
}

#contact h3 {
  color: #ffffff;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 5px;
}

#contact .col-md-3 {
  margin-top: 30px;
}

.float-right img {
  margin-left: 20px;
}

#contact .col-md-6 p {
  text-align: center;
}

#contact .btn-primary {
  color: #ffffff;
  background-color: #025f6b;
  border-color: #025f6b;
}

#contact a {
  color: #ffffff;
}

.copyright_text {
  font-size: 0.9em;
  margin-top: 20px;
}

.contact-number {
  font-size: 1.2em;
}

.card .btn-primary {
  color: #ffffff;
  background-color: #025f6b;
  border-color: #025f6b;
}

h4.card-title {
  color: #025f6b;
}

.how-we-help .media {
  min-height: 80px;
  color: #025f6b;
}

.how-we-help ul {
  margin-top: 30px;
  margin-bottom: 20px;
  list-style: none;
  padding-left: 0;
}

.how-we-help ul li {
  margin-bottom: 10px;
}

h3.with-line {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #cdcdcd;
  line-height: 0.75em;
  margin: 10px 0 40px;
  font-size: 2em;
}

h3.with-line span {
  background: #fff;
  padding: 0 30px;
}

.modal {
  top: 10%;
}

.modal-body {
  max-height: 75vh;
  overflow: auto;
}

.card-header,
.home-card-header {
  color: #ffffff;
  background-color: #025f6b !important;
}

.home-card-header {
  padding: 0.7em;
}

.custom-loggedin-menu-sidebar {
  margin-bottom: 20px !important;
}

@media (max-width: 768px) {
  .nav-item:last-child {
    margin-left: 25px;
    margin-top: 25px;
  }

  .hero-image h1 {
    padding-top: 15%;
  }

  .how-we-help .col {
    width: 100%;
  }

  .how-we-help .media {
    min-height: 30px;
    margin-top: 20px;
  }

  .awards img {
    margin-bottom: 10px;
  }

  .clients button.slick-prev {
    left: -20px;
  }

  .clients button.slick-next {
    right: -20px;
  }

  .hero-image .btn {
    max-width: 85%;
    word-wrap: break-word;
    white-space: normal !important;
    margin-bottom: 40px;
  }
}