/**
 * Logged-in Style
 *
 * @package WordPress
 * @version 1.0.2
 */

.md {
  background-color: #f3f6f6;
}

.md .menu_primary_wrapper {
  max-width: 100%;
  position: relative;
  width: 100%;
}

.md .container {
  max-width: 1620px;
  width: 100%;
}

.md .navbar {
  padding: .5rem 2rem;
}

.md #primary .nav-link {
  color: var(--clr-secondary) !important;
  font-size: .9rem;
  line-height: 1.2;
  padding-bottom: 6px;
  padding-left: 24px;
  padding-top: 6px;
  position: relative;
  text-decoration: none;
}

.md #primary .nav-link:before {
  background-image: url(../../assets/images/arrow-interface.png);
  background-position: -15px center;
  background-repeat: no-repeat;
  background-size: auto 10px;
  content: "";
  height: 15px;
  left: 0;
  position: absolute;
  top: 6px;
  transition: all .1s ease-in-out;
  width: 15px;
}

.md #primary .nav-link:hover:before,
.md #primary .nav-link.active:before {
  background-position: 0px center;
}

.md #primary .nav-item:last-child .nav-link {
  color: var(--clr-secondary) !important;
}

.md #primary .nav-item {
  margin-left: 0;
}

.md #primary .nav-link.active,
.md #primary .nav-link:hover,
.md #primary .nav-item:last-child .nav-link:hover {
  color: var(--clr-accent) !important;
  text-decoration: underline;
}

.md .nav_menu_search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-end;
  /* max-width: calc(50% + 270px + 75px); */
  /* margin: 0 0 0 auto; */
  /* width: 100%; */
}

.md .nav_menu_search>.widget {
  align-self: flex-end;
  display: flex;
  max-width: 300px;
  width: 100%;
}

.md .nav_menu_search .w3eden {
  width: 100%;
}

.md .nav__container {
  align-items: center;
  display: flex;
}

.md .nav__container .nav-item,
.md .cat__btns button {
  background-color: #f8f9fa;
  border: 2px solid var(--clr-secondary);
  border-radius: 2px;
  color: var(--clr-primary);
  font-size: var(--fnt-xs);
  font-weight: 600;
  line-height: 1rem;
  outline: none;
  padding: .85rem 1.25rem;
  /* max-width: 150px; */
  /* min-width: 130px; */
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .25s ease-in-out;
}

.md .nav__container .nav-item {
  margin-left: 12px;
}

.md .nav_menu_search .user_logout,
.md .cat__btns button {
  background-color: var(--clr-secondary);
  color: var(--clr-light);
  margin-left: 12px;
}

.md .cat__btns button {
  font-size: 12px;
  margin: 0 5px 10px 0;
  max-width: fit-content;
  padding: .5rem 1rem;
}

.md .nav__container .nav-item:hover,
.md .cat__btns button:hover,
.md .cat__btns button.active,
.md .cat__btns button:active {
  background-color: var(--clr-primary);
  border: 2px solid var(--clr-primary);
  color: var(--clr-light);
}

.md .nav_menu_search .user_logout:hover {
  background-color: var(--clr-primary);
}

.md .nav_menu_search .fixed-top {
  -webkit-box-shadow: 0 0 5px 5px rgba(68, 68, 68, 0.25);
  box-shadow: 0 0 5px 5px rgba(68, 68, 68, 0.25);
}

.md .nav_menu_search .fix_search button {
  background-color: var(--clr-light);
  border: 0;
  border-bottom: 1px solid #ced4da;
  border-radius: 0;
  color: #777777;
  height: auto;
}

.md .nav_menu_search .form-control {
  border: 0;
  border-bottom: 1px solid #ced4da;
  border-radius: 0;
}

.md .nav_menu_search .form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  max-width: calc(100% - 45px);
  outline: 0;
  width: calc(100% - 45px);
}

.md .main_content_wrapper {
  background-color: #f3f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 100%;
  padding: 30px 0;
  width: 98%;
}

.md .navbar-collapse #primary {
  display: none;
  flex-flow: wrap;
  justify-content: space-evenly;
}

.md .main_content_wrapper #sidebar_left,
.md .main_content_wrapper #sidebar_right {
  flex-basis: 18%;
  max-width: 18%;
  min-width: 275px;
}

.md .main_content_wrapper #sidebar_left {
  padding-right: 1.85rem;
}

.md .main_content_wrapper #sidebar_right {
  padding-left: 1.85rem;
}

.md .s_hero {
  background-position: 75% 0;
}

.md .r_hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  min-height: calc(min(320px) + 12vw);
  width: 85%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.md .main_content_wrapper .main_content {
  background-color: var(--clr-light);
  -webkit-box-shadow: 0 0 10px -5px rgba(0, 0, 0, .25);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  box-shadow: 0 0 10px -5px rgba(0, 0, 0, .25);
  flex-basis: 64%;
  max-width: 64%;
  position: relative;
}

.md .hero_content h1 {
  color: var(--clr-accent);
  font-size: var(--fnt-h1);
}

.md .card-deck-wrapper {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
}

.md .halfwidth_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  align-items: flex-start;
  justify-content: space-between;
}

.md .full_width,
.md .half_width {
  margin: 0;
}

.md .half_width {
  -ms-flex-preferred-size: 48.66%;
  flex-basis: 48.66%;
  max-width: 48.66%;
}

.md .full_width {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%;
}

.md .card-deck:not(.profiles) .card {
  margin-left: 0;
  margin-right: 0;
}

.md .w3eden a:not(.btn) {
  color: var(--clr-primary);
}

.md .w3eden a:not(.btn):hover {
  color: var(--clr-secondary);
}

.md .w3eden .card h3 {
  font-size: 1rem;
  line-height: 1.2;
}

.md .half_width .w3eden .row>div {
  max-width: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
}

.md .full_width .w3eden .row>div {
  max-width: 50%;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
}

.md .standard_wrapper {
  margin-bottom: 30px;
}

.md .full_width .w3eden .row>.col-lg-12 {
  flex-basis: 100%;
  max-width: 100%;
}

.md .full_width .w3eden .row>.col-lg-12>.card {
  margin-bottom: 16px !important;
}


/*--- FROM MAIN ---*/
.md .w3eden div.wpdmcard,
.md .w3eden div#wpdmreg,
.md .w3eden div#wpdmlogin {
  margin-top: 40px;
}

.md #edit_profile,
.md #resetPassword {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  -webkit-transition: var(--trn-default);
  -o-transition: var(--trn-default);
  transition: var(--trn-default);
}

.md #edit_profile.edit_form_loaded,
.md #resetPassword.reset_form_loaded {
  opacity: 1;
  pointer-events: all;
  visibility: visible;
}

.md #wpdm-downloads h3.package-title a {
  font-size: 1.1rem;
}

.md .package-title a {
  color: var(--clr-primary);
}

.md .package-title a:hover {
  color: var(--clr-secondary);
}

.md .img-48 .wpdm_icon {
  filter: saturate(0.25) hue-rotate(325deg);
}

.md .w3eden .breadcrumb {
  background-color: var(--clr-primary);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.md .w3eden .breadcrumb * {
  color: var(--clr-grey);
  margin-right: 8px;
}

.md .w3eden .breadcrumb a {
  color: var(--clr-light);
}

.md .w3eden .pagination li a {
  border: 1px solid transparent;
}

.md .w3eden .input-group-x {
  background-color: var(--clr-lgrey);
  border: 1px solid var(--clr-lgrey);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.md .w3eden .btn-lg {
  font-size: var(--fnt-global);
}

.md .fix_search {
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
}

.md .back_history {
  margin: 15px 0 25px;
}

.md .back_history a {
  color: var(--clr-primary);
  font-weight: 700;
  -webkit-filter: opacity(0.75);
  filter: opacity(0.75);
  -webkit-transition: var(--trn-default);
  -o-transition: var(--trn-default);
  transition: var(--trn-default);
}

.md .back_history a:hover {
  -webkit-filter: opacity(1);
  filter: opacity(1);
}

.md .back_history:after {
  clear: both;
  content: "";
  display: block;
}

.md .back_history i {
  margin-right: 8px;
}

.md>.cta-banner,
.md #contact .row,
.md.single-wpdmpro .w3eden .wpdm-button-area,
.md.page-my-documents #indpass_1,
.md.page-my-documents #indpass_1~span,
.md .p-3.pt-0 {
  display: none;
}

.md #contact {
  padding: 20px 0;
}

.md .copyright_text {
  margin-top: 0;
  text-align: center;
}

.md.single-wpdmpro .w3eden h1 {
  font-size: 2.1rem;
  -webkit-box-shadow: 0 2px 0 0 rgba(2, 95, 107, 0.2);
  box-shadow: 0 2px 0 0 rgba(2, 95, 107, 0.2);
  letter-spacing: -.5px;
  margin-bottom: 20px;
  padding-bottom: 5px;
}

.md.single-wpdmpro .w3eden h3 {
  font-size: 1.5rem;
  margin-bottom: 15px;
  padding: 20px 0 0;
}

.md.single-wpdmpro .w3eden h3 i {
  margin-right: 8px;
}

.md.single-wpdmpro .w3eden .list-group {
  margin-top: 45px;
}

.md.single-wpdmpro .w3eden .wpdm-filelist-area tbody>tr {
  -webkit-box-shadow: inset 5px 0 0 0 var(--clr-secondary);
  box-shadow: inset 5px 0 0 0 var(--clr-secondary);
}

.md.single-wpdmpro .w3eden .wpdm-filelist-area tbody>tr td {
  padding-left: 18px;
}

.md.single-wpdmpro .w3eden .list-group li:nth-of-type(odd) {
  -webkit-box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, .05);
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, .05);
}

.md.single-wpdmpro .w3eden .list-group li:nth-of-type(even) {
  -webkit-box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, .05);
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, .05);
}

.md.single-wpdmpro>.container {
  min-height: 420px;
  padding: 45px 0 0;
}

.md.page-child .w3eden .col-md-4 {
  max-width: 50%;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
}

.md.parent-pageid-463 .w3eden .wpdm-download-link,
.md.page-id-463 .w3eden .wpdm-download-link {
  font-size: var(--fnt-x);
  max-width: 120px;
  overflow: hidden;
  padding: .6rem .85rem;
}

.md.parent-pageid-463 .w3eden .media-heading,
.md.page-id-463 .w3eden .media-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.md.parent-pageid-463 .w3eden .media-heading a,
.md.page-id-463 .w3eden .media-heading a {
  -webkit-transition: var(--trn-default);
  -o-transition: var(--trn-default);
  transition: var(--trn-default);
}

.md.parent-pageid-463 .w3eden .media-heading a:hover,
.md.page-id-463 .w3eden .media-heading a:hover,
.md #wpdm-downloads h3.package-title a:hover {
  color: var(--clr-secondary) !important;
}

.md.parent-pageid-463 .w3eden .text-muted,
.md.page-id-463 .w3eden .text-muted {
  font-weight: 600 !important;
  margin-left: 0 !important;
  margin-top: 6px;
}

.md.parent-pageid-463 .w3eden .text-muted i {
  color: var(--clr-primary);
  font-weight: 600;
}

.md.parent-pageid-463 .w3eden .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 15px;
}

.md.page-id-3126 .w3eden .row {
  width: 100%;
}

.md.parent-pageid-463 .w3eden .well {
  -webkit-box-shadow: none;
  border: 1px solid rgba(0, 0, 0, .1);
  box-shadow: none;
  -webkit-transition: var(--trn-default);
  -o-transition: var(--trn-default);
  align-items: center;
  display: flex;
  min-height: 125px;
  transition: var(--trn-default);
}

.md.parent-pageid-463 .w3eden .well:hover {
  -webkit-box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.18);
  border: 1px solid rgba(0, 0, 0, .2);
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.18);
  ;
}

.md.parent-pageid-463 h1.page_heading {
  font-weight: 800;
  letter-spacing: -.5px;
  text-align: center;
  text-decoration: underline;
  text-transform: capitalize;
}

.md.parent-pageid-463 .card-header {
  font-size: 1.25rem;
  line-height: 1.1;
}

.md.parent-pageid-463 .card-body {
  padding: 1rem;
}

.md.parent-pageid-463 .card-deck .card {
  margin-bottom: 30px !important;
}

.md.page-id-3294 .card-body,
.md .enewsletter_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.md.page-id-3294 .card-body ul,
.md .enewsletter_list {
  list-style-type: none;
  padding: 0;
}

.md.page-id-3294 .card-body li,
.md .enewsletter_list li {
  color: #444;
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 14px;
  padding-left: 30px;
  position: relative;
}

.md.page-id-3294 .card-body li:before,
.md .enewsletter_list li:before {
  color: var(--clr-secondary);
  content: "\f15c";
  font-family: "Font Awesome 5 Free";
  height: 24px;
  left: 0;
  position: absolute;
  width: 24px;
}

.md.page-id-3294 .card-body li a,
.md .enewsletter_list li a {
  font-weight: 600;
}

.md.parent-pageid-463 .card-body ul a {
  color: var(--clr-primary);
}

.md .card .btn-primary,
.md .card .btn-primary:visited,
.md .card .btn-primary:active {
  background-color: var(--clr-primary);
  border-color: var(--clr-primary);
  font-weight: 700;
  text-transform: uppercase;
}

.md .card .btn-primary:hover {
  background-color: var(--clr-secondary);
  border-color: var(--clr-secondary);
}

.md.parent-pageid-463 .halfw_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.md.parent-pageid-463 .half_width {
  -ms-flex-preferred-size: 48.66%;
  flex-basis: 48.66%;
  margin: 0;
  max-width: 48.66%;
}

.md.parent-pageid-463 .half_width .card {
  margin-left: 0;
  margin-right: 0;
}

.md.parent-pageid-463 .half_width .row>div {
  max-width: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
}

.md.parent-pageid-463 .full_width .row>div {
  max-width: 50%;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
}

.md.parent-pageid-463 .half_width .row {
  padding: 0;
}

.md#my-documents #categories-section .cat-card {
  padding-top: 6px !important;
}

.md#my-documents #package-settings-section .col-md-3 {
  font-size: .9rem;
  font-weight: 600;
  line-height: 1.6;
}

.md#my-documents .author-dashbboard .w3eden .card-header {
  font-size: .9rem;
  font-weight: 700;
  letter-spacing: .8px;
}

.md.parent-pageid-463 .well.c2a3 .wpdm_icon {
  height: 28px;
  width: 28px;
  -o-object-fit: contain;
  min-width: auto;
  object-fit: contain;
}

.md .admin_sub_page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-height: 80vh;
}

.md .admin_sub_page>.row,
.md .main_content>.container>.row {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  flex-grow: 1;
  margin: 0;
  max-width: 100%;
  overflow: hidden;
  width: 100%;
}

.md .admin_sub_page>.row img {
  display: flex;
  height: auto;
  width: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.md .md_scrollspy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-preferred-size: 18%;
  flex-basis: 22%;
  max-width: 22%;
  min-width: 200px;
  -ms-flex-item-align: baseline;
  align-self: baseline;
  margin-bottom: 65px;
  padding-right: 15px;
  position: -webkit-sticky;
  position: sticky;
  top: 250px;
}

.md .md_scrollspy a {
  color: var(--clr-darkv2);
  display: block;
  font-size: 14px;
  font-weight: 700;
  -webkit-filter: opacity(.85);
  filter: opacity(.85);
  line-height: 1.2;
  margin-bottom: 12px;
  padding-left: 15px;
  position: relative;
  -webkit-transition: var(--trn-default);
  -o-transition: var(--trn-default);
  transition: var(--trn-default);
}

.md .md_scrollspy a:before {
  background-color: var(--clr-darkv2);
  content: "";
  height: 100%;
  width: 4px;
  -webkit-filter: opacity(.75);
  filter: opacity(.75);
  left: 0;
  position: absolute;
  top: 0;
  -webkit-transition: var(--trn-default);
  -o-transition: var(--trn-default);
  transition: var(--trn-default);
}

.md .md_scrollspy a.active,
.md .md_scrollspy a:hover {
  color: var(--clr-primary);
  -webkit-filter: opacity(1);
  filter: opacity(1);
}

.md .md_scrollspy a.active:before {
  background-color: var(--clr-secondary);
  -webkit-filter: opacity(1);
  filter: opacity(1);
}

.md .dataTables_wrapper {
  overflow: auto;
}

.md .w3eden #categories-section .cat-card {
  padding-top: 12px !important;
}

.md .w3eden .alert-danger {
  width: 100px;
}

.md.page-advanced-search form.well {
  display: flex;
  flex-direction: column;
}

.md.page-advanced-search .r__search {
  order: 1;
}

.md.page-advanced-search .r__orderBy {
  display: flex;
  order: 2;
}

.md.page-advanced-search .r__category {
  order: 3;
}

.md.page-advanced-search .r__btns {
  display: flex;
  justify-content: center;
}

.md.page-advanced-search .r__btns>button {
  margin: 0 5px;
}

.md.page-advanced-search form.well>*:not(.r__category):not(.r__orderBy):not(.r__search) {
  order: 10;
}

.md.page-advanced-search #category {
  height: 144px;
}

.md.page-test2 .wpdm-cat-tree {
  background-color: var(--clr-primary);
}

.md #user_list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.md #user_list li {
  /* Prevent double borders */
  background-color: #f6f6f6;
  border: 1px solid #ddd;
  color: black;
  cursor: pointer;
  font-size: 18px;
  margin-top: -1px;
  padding: 12px;
  text-decoration: none;
  transition: all .3s ease-in-out;
}

.md #user_list li:hover {
  background-color: #eaeaea;
}

.md #uaco span.btn-info:first-child a.uaco-del {
  cursor: not-allowed;
}

.md #uaco span.btn-info:first-child a.uaco-del i {
  filter: opacity(.5);
  pointer-events: none;
}

.md .sidebars #primary {
  margin-bottom: 50px;
}

.md .sidebars .widget:not(:last-of-type) {
  margin-bottom: 30px;
}

.md .sidebars .textwidget,
.md .sidebars #gtk_menu {
  background-color: var(--clr-light);
  padding: 0 20px 20px;
  padding-top: 25px;
}

.md .widgettitle {
  background-color: var(--clr-secondary);
  color: var(--clr-light);
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0;
  padding: 20px;
}

.md .lv_post:not(:last-of-type) {
  border-bottom: 1px solid #eaeaea;
  margin-bottom: 20px;
  padding-bottom: 12px;
}

.md .lv_posts .lv_post_title {
  color: var(--clr-primary);
  display: block;
  font-size: 1.15rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 6px;
}

.md .lv_posts .lv_post_title a {
  color: var(--clr-primary);
  font-weight: 700;
}

.md .lv_posts .lv_post_title a:hover {
  color: var(--clr-secondary);
}

.md .lv_posts[data-events] .lv_post_content {
  flex-basis: 77%;
  overflow: hidden;
}

.md .lv_posts .lv_post_excerpt .btn_wrapper {
  text-align: right;
}

.md .lv_posts .lv_post_excerpt .post_more {
  background-color: var(--clr-secondary);
  color: white;
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
}

.md .lv_posts .lv_post_excerpt .post_more:hover {
  background-color: var(--clr-accent);
}

.md .lv_post {
  display: flex;
}

.md .lv_posts .entry-date {
  color: var(--clr-secondary);
  display: block;
  font-size: .75rem;
  font-weight: 600;
  margin-bottom: .5rem;
}

.md .lv_posts .event_post_excerpt {
  line-height: 1.2;
}

.md .e_date {
  align-self: flex-start;
  background-color: var(--clr-light);
  border: 2px solid var(--clr-primary);
  display: flex;
  flex-basis: 21%;
  flex-direction: column;
  margin-right: 2%;
  min-width: 3rem;
}

.md .e_date span:first-of-type,
.md .e_date span:last-of-type {
  letter-spacing: .75px;
  padding: .1rem;
  text-align: center;
  text-transform: uppercase;
}

.md .e_date span:first-of-type {
  background-color: var(--clr-primary);
  color: var(--clr-light);
  font-weight: 600;
}

.md .e_date span:last-of-type {
  background-color: var(--clr-light);
  color: var(--clr-primary);
  font-size: 1.5rem;
  font-weight: 900;
}


/* Informed Investor CSS */
.md .custom-html-widget iframe {
  height: 12rem !important;
  width: 100% !important;
}

.md.parent-pageid-463 .main_content iframe:not(#digital_tools) {
  height: 100%;
  width: 100%;
}

.md.parent-pageid-463 .main_content ul.ii_btns {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.md.parent-pageid-463 .main_content ul.ii_btns li {
  margin: 0 .4rem .8rem;
}

.md.parent-pageid-463 .main_content ul.ii_btns a {
  background-color: var(--clr-secondary);
  border: 2px solid var(--clr-secondary);
  border-radius: 2px;
  color: var(--clr-light);
  display: block;
  font-size: .88rem;
  font-weight: 600;
  line-height: 1rem;
  max-width: max-content;
  min-width: 250px;
  outline: none;
  padding: .85rem 1.25rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .25s ease-in-out;
}

.md.parent-pageid-463 .main_content ul.ii_btns a:hover {
  background-color: var(--clr-primary);
  border-color: var(--clr-primary);
}

@media only screen and (max-width: 1280px) {
  .md.parent-pageid-463 .main_content ul.ii_btns a {
    min-width: 180px;
  }
}

@media only screen and (max-width: 479px) {
  .md.parent-pageid-463 .main_content ul.ii_btns li:nth-of-type(n) {
    flex-basis: 100%;
    margin-right: 0;
    max-width: 100%;
  }

  .md.parent-pageid-463 .main_content ul.ii_btns a {
    max-width: 100%;
    width: 100%;
  }
}

/* End Informed Investor CSS */


.md #wpdm-pf>.row {
  display: flex;
  flex-direction: column;
}

.md #wpdm-pf>.row>div {
  flex-basis: 100%;
  max-width: 100%;
}

.md.parent-pageid-463 .admin_sub_page .w3eden .media {
  width: 100%;
}

.md #sidebar_left .hide_laptop {
  display: block;
}

.md #sidebar_right .hide_desktop {
  display: none;
}

.md .main_content_wrapper #sidebar_right>div,
.md .main_content_wrapper #sidebar_left>div {
  border: 2px solid #dcdedd;
  border-radius: 8px;
  overflow: hidden;
}

.md #gtk_menu .nav-item {
  margin-left: 0;
}

.md #gtk_menu .nav-link {
  color: #025f6b !important;
  text-transform: capitalize;
}

.md #gtk_menu .nav-link:hover {
  color: var(--clr-secondary) !important;
  text-decoration: underline;
}

.md #categories-section .card-header.p-2 {
  margin: 0;
  padding: 0;
  visibility: hidden;
}

.md.page-id-3126 .w3eden .row {
  width: 100%;
}

.md #shared_wpdm_post .panel_heading,
.md .allowed_post.panel_heading {
  background-color: #f4f4f4;
  border-left: 5px solid var(--clr-primary);
  color: var(--clr-dark);
  margin-bottom: 15px;
  padding: .5em .5em .5em 1em;
}

.md #generatepass.show .modal-content {
  padding: 1.25em;
}

.md #generatepass.show .modal-dialog {
  max-height: max(90vh, 300px);
  overflow: auto;
  pointer-events: all;
  top: 3vh;
}

.md .events_sb .all_btn {
  background-color: var(--clr-secondary);
  color: white;
  display: block;
  font-weight: 700;
  letter-spacing: 1px;
  margin-top: 1rem;
  transition: all .2s ease-in-out;
}

.md .events_sb .all_btn:hover {
  background-color: var(--clr-accent);
}

.md .events_sb h2.widgettitle a {
  color: white;
}

.md .events_sb h2.widgettitle a:hover {
  text-decoration: underline;
}

.md #sidebar_right .widget_custom_html:nth-child(2) {
  position: relative;
}

/* .md #sidebar_right .widget_custom_html:nth-child(2) .custom-html-widget {
  height: 12rem;
  overflow-y: scroll;
}*/

.md #sidebar_right .widget_custom_html .custom-html-widget iframe {
  height: auto !important;
}

.md #sidebar_right .widget_custom_html:nth-child(2) .custom-html-widget::before {
  background-color: white;
  bottom: 0;
  content: "";
  height: 20px;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 10;
}

@media (max-width: 1600px) {
  .md.parent-pageid-463 .admin_sub_page .w3eden .media {
    padding-bottom: 45px;
    position: relative;
  }

  .md.parent-pageid-463 .admin_sub_page .w3eden .package_dlink {
    align-self: flex-end;
    bottom: 0;
    position: absolute;
    right: 0;
  }

  .md.parent-pageid-463 .admin_sub_page .w3eden .wpdm-download-link,
  .md.page-id-463 .admin_sub_page .w3eden .wpdm-download-link {
    font-size: .75rem;
    padding: .6em .85em;
  }

  .md.parent-pageid-463 .w3eden .media-heading,
  .md.page-id-463 .w3eden .media-heading {
    font-size: .8rem !important;
  }
}

@media (max-width: 1440px) {
  :root {
    --size: 14;
  }

  .md .card-body .w3eden .well {
    padding: 10px;
  }

  .md.parent-pageid-463 .w3eden .well {
    min-height: 100px !important;
  }

  .md.parent-pageid-463 .admin_sub_page .w3eden .media {
    padding-bottom: 0;
  }

  .md.parent-pageid-463 .admin_sub_page .w3eden .ml-3 {
    align-items: center;
    position: relative;
  }

  .md .card-body .w3eden .media .ml-3 {
    margin-left: auto;
    margin-right: 0;
  }

  .md .card-body .well.c2a3 .wpdm_icon {
    height: 2rem;
    min-width: auto;
    object-fit: contain;
    width: 2rem;
  }

  .md .r_hero {
    min-height: calc(var(--size) * 1.75rem);
  }

  .md.parent-pageid-463 .full_width .row>div,
  .md.parent-pageid-463 .half_width {
    max-width: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }

  .md.page-id-3294 .card-body ul,
  .md .enewsletter_list ul {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
  }

  .md.page-id-3294 .card-body li,
  .md .enewsletter_list li {
    flex-basis: 100%;
    max-width: 100%;
  }

  .md.parent-pageid-463 .card-body ul a {
    font-size: var(--fnt-global);
  }

  .md #sidebar_left .hide_laptop {
    display: none;
  }

  .md #sidebar_right .hide_desktop {
    display: block;
  }

  .md .main_content_wrapper {
    flex-flow: wrap;
    justify-content: space-between;
  }

  .md .main_content_wrapper .main_content {
    flex-basis: 83%;
    margin-bottom: 40px;
    max-width: 83%;
  }

  .md .main_content_wrapper #sidebar_left {
    flex-basis: 15%;
    max-width: 15%;
    min-width: auto;
    padding-right: 0;
  }

  .md .main_content_wrapper #sidebar_right {
    display: flex;
    flex-basis: 100%;
    flex-flow: wrap;
    justify-content: space-between;
    max-width: 100%;
    padding-left: 0;
  }

  .md .main_content_wrapper>div {
    overflow: hidden;
  }

  .md .main_content_wrapper #sidebar_right>div {
    flex-basis: 48.66%;
    margin-bottom: 30px;
  }

  .md .custom-html-widget iframe {
    height: 23rem !important;
  }
}

@media all and (max-width: 1280px) {
  .md .halfwidth_wrapper {
    flex-direction: column;
  }

  .md .half_width {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
    width: 100%;
  }

  .md .nav_menu_search>.widget {
    margin-right: 12px;
    max-width: 420px;
    width: 90%;
  }

  .md.parent-pageid-463 .full_width .row>div {
    flex-basis: 100%;
    max-width: 100%;
  }

  .md .card-width-table {
    overflow: auto;
  }

  .md .card-width-table .d-block {
    font-size: 14px;
    line-height: 1.2;
  }

  .md .md_scrollspy {
    flex-basis: 16%;
    max-width: 16%;
    min-width: 150px;
  }

  .md.parent-pageid-463 h1.page_heading {
    font-size: var(--fnt-h5);
  }

  .md .main_content_wrapper .main_content {
    flex-basis: 80%;
    max-width: 80%;
  }

  .md .main_content_wrapper #sidebar_left {
    flex-basis: 18%;
    max-width: 18%;
  }
}

@media all and (max-width: 991px) {
  .md .navbar-collapse #primary {
    display: flex;
    flex-direction: column;
  }

  .md .nav__container .nav-item,
  .md .cat__btns button {
    font-size: var(--fnt-xs);
  }

  .md .nav_menu_search .user_logout,
  .md .cat__btns button {
    margin-left: 1rem;
    margin-top: 0;
  }

  .md .navbar-collapse #primary {
    flex-flow: wrap;
    justify-content: flex-start;
  }

  .md .navbar-collapse #primary .nav-item {
    flex-basis: 50%;
    max-width: 50%;
  }

  .md .main_content_wrapper #primary {
    display: none;
  }

  .md .nav_menu_search {
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin: 10px 0 20px auto;
    max-width: 100%;
  }

  .md .main_content_wrapper {
    flex-flow: wrap;
    padding: 20px 0 30px;
  }

  .md .nav-link {
    padding-left: 18px;
  }

  .md .navbar {
    position: absolute;
  }

  .md .main_content_wrapper .main_content {
    flex-basis: 100%;
    flex-flow: wrap;
    margin-bottom: 30px;
    max-width: 100%;
    order: 1;
  }

  .md .main_content_wrapper #sidebar_left {
    display: none;
  }

  .md .main_content_wrapper #sidebar_right {
    order: 3;
  }

  .md .main_content_wrapper .sidebars {
    flex-basis: 100% !important;
    max-width: 100% !important;
  }

  .md .md_scrollspy {
    flex-basis: 20%;
    max-width: 20%;
    min-width: 200px;
  }

  .md .custom-html-widget iframe {
    height: 20rem !important;
  }
}

@media all and (max-width: 768px) {
  .md .admin_sub_page {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .md .nav__container .nav-item,
  .md .cat__btns button {
    font-size: var(--fnt-x);
    min-width: 106px;
  }

  .md .md_scrollspy {
    flex-basis: 100%;
    flex-direction: column;
    flex-flow: column;
    margin-bottom: 0;
    max-width: 100%;
    padding: 10px 15px;
    position: relative;
    top: 30px;
  }

  .md .md_scrollspy a {
    margin-right: 20px;
    padding-left: 10px;
  }

  .md #primary .nav-item:last-child {
    margin-top: 0;
  }

  .md .r_hero {
    min-height: 280px;
    width: 100%;
  }

  .md .hero_content h1 {
    font-size: var(--fnt-h4);
  }

  .md .main_content_wrapper #sidebar_right>div {
    flex-basis: 100%;
  }
}

@media all and (max-width: 604px) {
  .md .navbar {
    padding: .5rem 1rem;
  }

  .md .nav__container .nav-item,
  .md .cat__btns button {
    min-width: 88px;
    padding: 0.85rem .5rem;
  }

  .md .navbar-collapse #primary .nav-item {
    flex-basis: 100%;
    max-width: 100%;
  }

  .md .main_content_wrapper .sidebars {
    flex-basis: 100% !important;
    max-width: 100% !important;
  }

  .md .main_content_wrapper #sidebar_left {
    margin-bottom: 30px;
    padding-right: 0;
  }

  .md .main_content_wrapper #sidebar_right {
    padding-left: 0;
  }

  .md .custom-html-widget iframe {
    height: 25rem !important;
  }
}

@media all and (max-width: 479px) {
  :root {
    --size: 13;
  }

  .md.parent-pageid-463 .w3eden .media-heading,
  .md.page-id-463 .w3eden .media-heading {
    font-size: 14px !important;
  }

  .md .navbar {
    padding: .5rem 1rem;
  }

  .md .nav__container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .md .nav_menu_search .user_logout,
  .md .cat__btns button {
    margin-left: .75rem;
  }

  .md #custom_nav_search .nav-item,
  .md .nav_menu_search .user_logout,
  .md .cat__btns button {
    margin-left: .75rem;
    margin-bottom: .75rem;
  }

  .md .nav_menu_search>.widget {
    margin-right: 0;
    width: 100%;
  }
}


/* Autocomplete  */

* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
}

.autocomplete {
  display: inline-block;
  /*the container must be positioned relative:*/
  position: relative;
}

input {
  background-color: #f1f1f1;
  border: 1px solid transparent;
  font-size: 16px;
  padding: 10px;
}

input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}

input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
}

.autocomplete-items {
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  left: 0;
  position: absolute;
  right: 0;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  z-index: 99;
}

.autocomplete-items div {
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
  cursor: pointer;
  padding: 10px;
}

.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}

.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}

.md .wpdmc_pagination {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-top: .5rem;
}

.md .wpdmc_pagination a,
.md .wpdmc_pagination span {
  background-color: #eaeaea;
  margin-right: .25rem;
  padding: .5rem .75rem;
  transition: all .25s ease-in-out;
}

.md .wpdmc_pagination .current,
.md .wpdmc_pagination a:hover {
  background-color: var(--clr-primary);
  color: var(--clr-light);
}

.md #advpack_filter form .card-body .row {
  display: flex;
  margin: 0;
  padding: 0;
}

.md #advpack_filter form .card-body .row>div {
  flex: 1;
}

.md #advpack_filter .ml-3 {
  align-self: center;
}

.md #advpack_filter .package_item .package_term,
.md .cat__tab .package_item .package_term {
  line-height: 1.2;
  margin-left: 0 !important;
  text-align: left;
}

.md #advpack_filter .package_item .package_term a,
.md .cat__tab .package_item .package_term a {
  color: var(--clr-primary);
  font-weight: 700;
  letter-spacing: 0.5px;
  pointer-events: none;
}

.md #advpack_filter .package_item .package_term a:hover,
.md .cat__tab .package_item .package_term a:hover {
  color: var(--color-primary);
  text-decoration: none;
}

.md #advpack_filter .package_item .package_dlink,
.md #advpack_filter .package_item .package_term,
.md .cat__tab .package_item .package_dlink,
.md .cat__tab .package_item .package_term {
  flex-basis: 20%;
  max-width: 20%;
}

.md #advpack_filter .package_item .package_body,
.md .cat__tab .package_item .package_body {
  flex-basis: 60%;
  max-width: 60%;
}

.md #advpack_filter .package_item .package_icon,
.md .cat__tab .package_item .package_icon {
  flex: 0;
}

.md #advpack_filter .package_item .package_dlink,
.md .cat__tab .package_item .package_dlink {
  text-align: right;
}

.md #advpack_filter #content_wpdm_package_1>.row {
  margin: 0;
  padding: 0;
}

@media (min-width: 992px) {
  .md .menu_primary_wrapper {
    margin-left: 30px;
  }
}

@media only screen and (max-width: 767px) {

  .md #advpack_filter .package_item .media,
  .md .cat__tab .package_item .media {
    flex-flow: wrap;
  }

  .md #advpack_filter .package_item .package_icon,
  .md .cat__tab .package_item .package_icon {
    flex-basis: 10%;
    max-width: 10%;
  }

  .md #advpack_filter .package_item .package_body,
  .md .cat__tab .package_item .package_body {
    flex-basis: calc(90% - 12px);
    max-width: calc(90% - 12px);
  }

  .md #advpack_filter .package_item .package_body .package-title,
  .md .cat__tab .package_item .package_body .package-title {
    font-size: 1.1rem;
    line-height: 1.2;
  }

  .md #advpack_filter .package_item .package_term,
  .md .cat__tab .package_item .package_term {
    flex-basis: 80%;
    max-width: 80%;
    padding-left: calc(10% + 12px);
  }

  .md #advpack_filter .package_item .package_term a,
  .md .cat__tab .package_item .package_term a {
    font-size: 0.9rem;
    letter-spacing: 0;
  }

  .md #advpack_filter .package_item .package_dlink,
  .md .cat__tab .package_item .package_dlink {
    margin-left: 0 !important;
  }

  .md #advpack_filter form .card-body .row {
    flex-flow: wrap;
  }

  .md #advpack_filter form .card-body .row>div {
    flex-basis: 50%;
    max-width: 50%;
  }

  .md #advpack_filter form .card-body .row>div:nth-child(-n+2) {
    margin-bottom: 1em;
  }
}

@media only screen and (max-width: 600px) {

  .md #advpack_filter .package_item .package_term,
  .md .cat__tab .package_item .package_term,
  .md #advpack_filter .package_item .package_dlink,
  .md .cat__tab .package_item .package_dlink {
    flex-basis: 100%;
    max-width: 100%;
  }

  .md #advpack_filter .package_item .package_term,
  .md .cat__tab .package_item .package_term {
    margin: 1em 0;
  }

  .md #advpack_filter .package_item .package_icon,
  .md .cat__tab .package_item .package_icon {
    flex-grow: auto;
  }

  .md #advpack_filter .package_item .package_icon img,
  .md .cat__tab .package_item .package_icon img {
    min-width: auto;
    width: 32px;
  }

  .md #advpack_filter .package_item .package_body,
  .md .cat__tab .package_item .package_body {
    flex-grow: 1;
  }

  .md #advpack_filter form .card-body .row {
    flex-flow: wrap;
  }

  .md #advpack_filter form .card-body .row>div {
    flex-basis: 100%;
    max-width: 100%;
  }

  .md #advpack_filter form .card-body .row>div:nth-child(-n+3) {
    margin-bottom: 0.75em;
  }
}