:root {
  --size: 16;
  --clr-primary: #025f6b;
  --clr-secondary: #17b5cc;
  --clr-accent: #12606b;
  --clr-light: #ffffff;
}

#your-profile {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all .2s ease-in;
}

#your-profile.profile_form_loaded {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.taxonomy-group [data-name=group_users] [data-event=add-row]:not(.button) {
  display: none !important;
}

.taxonomy-group [data-name=group_users] [data-event=add-row].button {
  background-color:var(--clr-secondary);
  border: 2px solid var(--clr-secondary);
  color: var(--clr-light);
  border-radius: 2px;
  line-height: 1rem;
  font-weight: 600;
  font-size: .9rem;
  outline: none;
  max-width: 150px;
  min-width: 100px;
  text-align: center;
  padding: .65em 1em;
  text-decoration: none;
  text-transform: capitalize;
  transition: all .25s ease-in-out;
}

.taxonomy-group [data-name=group_users] [data-event=add-row].button:hover {
  background-color: var(--clr-primary);
  border-color: var(--clr-primary);
}

.taxonomy-group .acf-tooltip.-confirm a {
  padding: .2rem .25rem .25rem;
  line-height: 1 !important;
  border-radius: 3px;
  font-size: .75rem;
  display: inline-block;
  margin: 0 .2rem;
}

.taxonomy-group .acf-tooltip.-confirm a[data-event="confirm"] {
  background-color: #F55E4F;
  color: #fff;
}

.taxonomy-group .acf-tooltip.-confirm a[data-event="cancel"] {
  background-color: #9ea3a8;
  color: #fff;
  margin-left: 0;
}

#member_warning {
  background-color: #eaeaea;
  border: 1px solid red;
  border-left-width: 5px;
  font-size: .8rem;
  font-weight: 600;
  max-width: 500px;
  margin: 1rem 0 0 ;
  padding: .75rem .75rem .75rem 1rem;
}
.acf-repeater .acf-row-handle.order+td.warn {
  border: 1px solid #bb3f3f;
  background-color: #bb3f3f;
}


