:root {
  --size: 16;
  --clr-primary: #025f6b;
  --clr-secondary: #17b5cc;
  --clr-accent: #12606b;
  --clr-light: #ffffff;
  --clr-grey: #dedede;
  --clr-lgrey: #e9ecef;
  --clr-darkv2: #707070;
  --fnt-global: calc(var(--size) * 1px);
  --fnt-h1: 3.75rem;
  --fnt-h2: 3.42rem;
  --fnt-h3: 3rem;
  --fnt-h4: 2.61rem;
  --fnt-h5: 2.18rem;
  --fnt-h6: 1.82rem;
  --fnt-xs: .92rem;
  --fnt-x: .8rem;
  --trn-default: all .25s ease-in-out;
  --trn-style1: all 0.6s cubic-bezier(0.22, 0.61, 0.36, 1);
}

html {
  font-size: var(--fnt-global);
}

.md {
  font-size: 100%;
}

.md .menu_primary_wrapper {
  margin: 0 0 0 auto;
}

.md.admin-bar .navbar {
  top: 32px;
}

.md .navbar {
  -webkit-box-shadow: 0 0 10px -5px rgba(68, 68, 68, 0.5);
  box-shadow: 0 0 10px -5px rgba(68, 68, 68, 0.5);
}

.md:not(.logged-in) .nav-item:last-child {
  margin-left: 25px;
}

.md:not(.logged-in) .nav-item.user_account .nav-link,
.md:not(.logged-in) .nav-item:last-child .nav-link {
  color: var(--clr-secondary) !important;
}

.md .nav-item.user_account.active .nav-link,
.md .nav-item.active:last-child .nav-link {
  color: var(--clr-primary) !important;
}

.md .dropdown-item.active,
.md .dropdown-item:active {
  background-color: var(--clr-secondary);
}

.md .backto_top {
  background-color: var(--clr-secondary);
  cursor: pointer;
  display: block;
  height: 50px;
  width: 50px;
  position: fixed;
  bottom: 50px;
  right: -51px;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  z-index: 99;
  -webkit-transition: var(--trn-style1);
  -o-transition: var(--trn-style1);
  transition: var(--trn-style1);
}

.md .backto_top:hover {
  background-color: var(--clr-primary);
}

.md .backto_top i {
  color: var(--clr-light);
  height: 100%;
  position: absolute;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 30px;
  pointer-events: none;
}

.md .backto_top.visible {
  opacity: 1;
  pointer-events: all;
  visibility: visible;
  right: 20px;
}

.md .w3eden .alert-danger {
  font-size: 12px;
  width: auto;
  padding: 5px;
  text-align: center;
  line-height: 1.1;
}

.md .slick-slide,
.md .slick-slide:active,
.md .slick-slide:hover {
  outline: 0;
  border: 0;
}

.md .review_logo_default,
.md .review_logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.md .review_logo img,
.md .review_logo_default img {
  border-radius: 100%;
  border: 2px solid rgb(1 95 107 / 0.8);
  max-width: 80px;
  height: 80px;
  object-fit: contain;
  padding: 3px;
}

.md .review_name,
.md .review_heading {
  text-align: center;
}

.md .review_body {
  text-align: justify;
}

.md .review_body {
  max-width: 90%;
  margin: 20px auto 0;
}

.md .review_heading {
  margin-top: 20px;
}

.md .review_name {
  margin-top: 30px;
}

.md .review_name {
  color: var(--clr-primary);
  font-size: 1.2rem;
  font-style: italic;
}

.md #primary .nav-item:last-child {
  margin-top: 0;
}

/* * Event Posts */
.md .post_filter {
  margin-bottom: 2rem;
}

.md .post_item.event {
  display: flex;
  padding: 1.5em 1em;
  background-color: white;
  border: 1px solid var(--clr-grey);
  margin-bottom: 1rem;
  border-radius: 3px;
  box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, .1);
}

.md .post_item.event:last-child {
  margin-bottom: 0;
}

.md .post_item.event .disp_left {
  flex-basis: 9%;
  margin-right: 2%;
  min-width: 95px;
}

.md .post_item.event .disp_right {
  flex-basis: 89%;
}

.md .post_item.event .disp_date {
  border: 2px solid var(--clr-accent);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.md .post_item.event .disp_date span {
  text-align: center;
  width: 100%;
}

.md .post_item.event .smonth {
  background-color: var(--clr-accent);
  color: white;
  font-size: 1.85rem;
  line-height: 1;
  text-transform: uppercase;
  padding: 0.45em 0.5em;
}

.md .post_item.event .sdate {
  color: var(--clr-accent);
  font-weight: 700;
  font-size: 2rem;
  line-height: 1;
  padding: 8px 5px 0;
}

.md .post_item.event .sday {
  font-size: .8rem;
  padding: 0 5px 10px;
  text-transform: uppercase;
}

.md .post_item.event .post_title a {
  font-weight: 700;
}

.md .post_item .post_title a:hover {
  color: var(--clr-accent)
}

.md .post_item.event .post_meta {
  display: flex;
  flex-flow: wrap;
  margin-bottom: 1.5rem;
}

.md .post_item.event .post_meta>div {
  border: 1px solid var(--clr-grey);
  border-radius: 4px;
  background-color: var(--clr-lgrey);
  display: inline-block;
  align-items: center;
  line-height: 1;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 5px 10px;
}

.md .post_item.event .event_times svg,
.md .post_item.event .event_address svg {
  stroke: black;
  fill: transparent;
}

.md .post_item.event .event_img_wrapper {
  margin-bottom: 1rem;
}

.md .post_item.event .event_img_wrapper img {
  max-height: 380px;
  object-fit: cover;
}

.md .post_item.event .btn_wrapper {
  text-align: right;
}

.md .post_item.event .post_more {
  background-color: var(--clr-secondary);
  color: white;
  display: inline-block;
  font-weight: 600;
}

.md .post_item.event .post_more:hover {
  background-color: var(--clr-accent);
}

.md .event_tab {
  display: flex;
}

.md .event_tab .tab_links {
  border: 2px solid var(--clr-primary);
  border-bottom: 0;
  border-top-right-radius: 15px;
  cursor: pointer;
  font-weight: 600;
  outline: 0;
  padding: .65em 1em .65em .85em;
  transition: all .2s ease-in-out;
}

.md .event_tab .tab_links.activ {
  background-color: var(--clr-primary);
  color: white;
}

.md .event_tab button:first-of-type {
  position: relative;
  z-index: 10;
}

.md .event_tab button:last-of-type {
  border-left: 0;
  padding-left: calc(15px + .85em);
  margin-left: -15px;
  z-index: 1;
}

.md .event_tab .tab_links:not(.activ):hover {
  background-color: var(--clr-secondary);
  color: white;
}

.md .tab_content {
  border: 2px solid var(--clr-primary);
  padding: 2rem 1.5rem;
  animation: fadeEffect 1s;
  position: relative;
}

.md .post_filter {
  display: flex;
}

.md .post_filter>* {
  margin-right: 10px
}

.md .post_filter select {
  border: 1px solid #202020;
  border-radius: 3px;
  font-size: 16px;
  outline: 0;
  padding: 8px 5px;
}

.md .post_filter .filter_btn {
  border: 2px solid var(--clr-secondary);
  border-radius: 3px;
  background-color: var(--clr-secondary);
  color: white;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  outline: 0;
  padding: 8px 15px;
  text-transform: uppercase;
  transition: all .2s ease-in-out;
}

.md .post_filter .filter_btn:hover {
  background-color: var(--clr-accent);
  border: 2px solid var(--clr-accent);
}

.md .tab_content .post_items.fetching {
  opacity: .2;
}

.md .tab_content .ajax_preloader {
  background-color: rgba(255, 255, 255, .5);
  position: absolute;
  left: 0;
  top: 0;
  padding-top: 14%;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  z-index: 99;
  flex-direction: column;
}

.md .tab_content .ajax_preloader img {
  height: 30px !important;
  width: 30px !important;
}

.md .tab_content .ajax_preloader span {
  font-size: 1.25rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.md .post_item.event .event_details {
  padding: 1.25em 1.5em 1em;
  border: 2px solid var(--clr-primary);
  border-radius: 5px;
  margin-top: 2rem;
}

.md .post_item.event .event_details h4 {
  color: var(--clr-accent);
  font-weight: 700;
  font-size: 1.25rem;
}

.acf-map {
  width: 100%;
  height: 400px;
  border: #ccc solid 1px;
  margin: 20px 0;
}

.acf-map img {
  max-width: inherit !important;
}

.md.single-event .post_item {
  flex-direction: column;
  padding: 1.5em 1.5em 2em;
}

.md.single-event .post_item .event_img_wrapper img {
  max-height: fit-content;
}

.md.single-event .post_item .post_title {
  display: block;
  width: 100%;
}

.md.single-event .post_item .post_title h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.md.single-event .post_item .post_meta>div {
  margin: 0;
}

.md .slick-slider {
  padding: 0;
}

.md .client-list img {
  width: clamp(120px, 100%, 200px);
  object-fit: contain;
}

.md .client-list .slick-track {
  display: flex;
  align-items: center;
}

.md .client-list .slick-slide li {
  display: flex !important;
  justify-content: center;
}

.md .client-list .slick-slide {
  margin: 0 10px;
}

.md .client-list .slick-list {
  margin: 0 -10px;
}

.md .slick-arrow {
  height: 30px;
  width: 30px;
}

.md .slick-next {
  right: -35px;
}

.md .slick-prev {
  left: -35px;
}

.md .slick-arrow:before {
  color: var(--clr-primary);
  font-size: 30px;
}

.md:not(.logged-in) .navbar>.container {
  max-width: 1620px;
}

.md:not(.logged-in) .menu_primary_wrapper .nav-item,
.md:not(.logged-in) .menu_primary_wrapper .nav-item:last-child {
  margin-left: 12px;
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


/** Responsive Rules */
@media (min-width: 992px) {
  .menu_primary_wrapper #primary {
    flex-flow: wrap;
    justify-content: flex-end;
  }
}

@media (max-width: 1199px) {
  .md .navbar-expand-lg .navbar-nav {
    flex-wrap: wrap;
    justify-content: flex-end;
  }
}

@media only screen and (max-width: 767px) {
  .md .post_item.event .post_meta {
    flex-flow: wrap;
  }

  .md .post_item.event .post_meta>div {
    margin-right: 6px;
    margin-bottom: 6px;
  }

  .md .post_filter {
    flex-flow: wrap;
    margin-bottom: calc(2rem - 10px);
  }

  .md .post_filter>* {
    margin-bottom: 10px;
  }

  .md .post_item.event {
    flex-direction: column;
    align-items: center;
  }

  .md .post_item.event .disp_left {
    margin-right: 0;
    margin-bottom: 2rem;
  }

  .md .tab_content .ajax_preloader {
    padding-top: 18%;
  }
}

@media only screen and (max-width: 479px) {
  .md .post_filter {
    flex-direction: column;
  }

  .md .post_filter>* {
    margin-right: 10px;
  }

  .md .tab_content .ajax_preloader {
    padding-top: 75%;
  }
}